html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#text {
    width: 500px;
}

#red {
    color: rgb(255, 0, 0);
}

#blue {
    color: blue;
}

#yellow {
    color: yellow;
}

#lightgreen {
    color: lightgreen;
}

#purple {
    color: purple;
}

#orange {
    color: orange;
}